source codes/flows.json
[
    {
        "id": "349fff74cb694245",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f588bce99225f386",
        "type": "ui_button",
        "z": "349fff74cb694245",
        "name": "",
        "group": "d846638d29beb2f3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "GET",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "get",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "8cfc5c3293ede06c"
            ]
        ]
    },
    {
        "id": "56f2969b2fd3f6f7",
        "type": "ui_gauge",
        "z": "349fff74cb694245",
        "name": "",
        "group": "7721da09e49e1c4a",
        "order": 4,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Upper Lane",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 660,
        "wires": []
    },
    {
        "id": "18058f1f8b69fae1",
        "type": "inject",
        "z": "349fff74cb694245",
        "name": "get",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "get",
        "payloadType": "str",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "bb58453e08560945",
                "44479f2cd2d9cb9d"
            ]
        ]
    },
    {
        "id": "9e41b3a756f50cba",
        "type": "tcp request",
        "z": "349fff74cb694245",
        "name": "",
        "server": "localhost",
        "port": "12345",
        "out": "time",
        "ret": "buffer",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 470,
        "y": 600,
        "wires": [
            [
                "70022e4ba58b2560"
            ]
        ]
    },
    {
        "id": "70022e4ba58b2560",
        "type": "function",
        "z": "349fff74cb694245",
        "name": "function 3",
        "func": "msg.payload=msg.payload.toString(\"utf8\");\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 600,
        "wires": [
            [
                "91353799c33149af"
            ]
        ]
    },
    {
        "id": "1672bca38c6bbd57",
        "type": "debug",
        "z": "349fff74cb694245",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 480,
        "wires": []
    },
    {
        "id": "e481aa647a9d5a95",
        "type": "inject",
        "z": "349fff74cb694245",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 70,
        "y": 720,
        "wires": [
            [
                "710bcbd52b1cae3f",
                "e0097b0a5286c662"
            ]
        ]
    },
    {
        "id": "8cfc5c3293ede06c",
        "type": "trigger",
        "z": "349fff74cb694245",
        "name": "trigger",
        "op1": "get",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "paused",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 390,
        "y": 500,
        "wires": [
            [
                "9e41b3a756f50cba"
            ]
        ]
    },
    {
        "id": "91353799c33149af",
        "type": "json",
        "z": "349fff74cb694245",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 810,
        "y": 600,
        "wires": [
            [
                "dc476350d81a2a75",
                "d599ce4963395025",
                "ef1271ec03e0ba32",
                "037f62a58bb4ea81",
                "7a83aca9cacc112d",
                "875612a19105f42d"
            ]
        ]
    },
    {
        "id": "8dac35c9f839803e",
        "type": "inject",
        "z": "349fff74cb694245",
        "name": "status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "paused",
        "payloadType": "str",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "8cfc5c3293ede06c"
            ]
        ]
    },
    {
        "id": "dc476350d81a2a75",
        "type": "function",
        "z": "349fff74cb694245",
        "name": "fn UpperLane",
        "func": "var msgout = { payload: msg.payload.count[0].count }\nreturn msgout;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 660,
        "wires": [
            [
                "56f2969b2fd3f6f7"
            ]
        ]
    },
    {
        "id": "a387210a27178052",
        "type": "ui_button",
        "z": "349fff74cb694245",
        "name": "",
        "group": "d846638d29beb2f3",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Hold",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "paused",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "8cfc5c3293ede06c",
                "5db6d512aabeced1"
            ]
        ]
    },
    {
        "id": "492a1e115c40df09",
        "type": "ui_button",
        "z": "349fff74cb694245",
        "name": "",
        "group": "d846638d29beb2f3",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 760,
        "wires": [
            [
                "710bcbd52b1cae3f",
                "e0097b0a5286c662"
            ]
        ]
    },
    {
        "id": "30640c29cff870a1",
        "type": "ui_gauge",
        "z": "349fff74cb694245",
        "name": "",
        "group": "7721da09e49e1c4a",
        "order": 5,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Right Lane",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 700,
        "wires": []
    },
    {
        "id": "49703c1c66fcdd3a",
        "type": "ui_gauge",
        "z": "349fff74cb694245",
        "name": "",
        "group": "7721da09e49e1c4a",
        "order": 6,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Down Lane",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 740,
        "wires": []
    },
    {
        "id": "be48acee5eee6734",
        "type": "ui_gauge",
        "z": "349fff74cb694245",
        "name": "",
        "group": "7721da09e49e1c4a",
        "order": 7,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Left Lane",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1200,
        "y": 780,
        "wires": []
    },
    {
        "id": "d599ce4963395025",
        "type": "function",
        "z": "349fff74cb694245",
        "name": "fn RightLane",
        "func": "var msgout = { payload: msg.payload.count[1].count }\nreturn msgout;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 700,
        "wires": [
            [
                "30640c29cff870a1"
            ]
        ]
    },
    {
        "id": "ef1271ec03e0ba32",
        "type": "function",
        "z": "349fff74cb694245",
        "name": "fn DownLane",
        "func": "var msgout = { payload: msg.payload.count[2].count }\nreturn msgout;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 740,
        "wires": [
            [
                "49703c1c66fcdd3a"
            ]
        ]
    },
    {
        "id": "037f62a58bb4ea81",
        "type": "function",
        "z": "349fff74cb694245",
        "name": "fn LeftLane",
        "func": "var msgout = { payload: msg.payload.count[3].count }\nreturn msgout;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 780,
        "wires": [
            [
                "be48acee5eee6734"
            ]
        ]
    },
    {
        "id": "ef11c1f5f2b06a29",
        "type": "exec",
        "z": "349fff74cb694245",
        "command": "python ./gettraffic.py -u",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 440,
        "wires": [
            [],
            [
                "1672bca38c6bbd57"
            ],
            []
        ]
    },
    {
        "id": "bb58453e08560945",
        "type": "ui_button",
        "z": "349fff74cb694245",
        "name": "",
        "group": "d846638d29beb2f3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Server",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Server starting",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "ef11c1f5f2b06a29",
                "e009cf65296d1b6c",
                "33e95622460456af"
            ]
        ]
    },
    {
        "id": "e009cf65296d1b6c",
        "type": "ui_text",
        "z": "349fff74cb694245",
        "group": "d846638d29beb2f3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "status",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1230,
        "y": 560,
        "wires": []
    },
    {
        "id": "7a83aca9cacc112d",
        "type": "function",
        "z": "349fff74cb694245",
        "name": "status",
        "func": "var msgout = { payload: msg.payload.status }\nreturn msgout;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 620,
        "wires": [
            [
                "e009cf65296d1b6c"
            ]
        ]
    },
    {
        "id": "875612a19105f42d",
        "type": "function",
        "z": "349fff74cb694245",
        "name": "fn priorities",
        "func": "var traffic = msg.payload;\n\ntraffic.count.sort(function (p1, p2) {\n    return p2.count - p1.count;\n});\n\nvar lowestPriority =\"low\"\nif(traffic.count[3].count==0){\n    lowestPriority=\"none\"\n}\nvar pririties = [\"high\",\"medium\",\"medium\",lowestPriority]\nvar pUpperLane = \"low\"\nvar pRightLane = \"low\"\nvar pDownLane = \"low\"\nvar pLeftLane = \"low\"\n\nfor(var i=0;i<4;i++){\n\nif(traffic.count[i].lane == \"upper\"){\n    pUpperLane= pririties[i]\n} else if (traffic.count[i].lane == \"right\"){\n    pRightLane = pririties[i]\n} else if (traffic.count[i].lane == \"down\") {\n    pDownLane = pririties[i]\n} else  {\n    pLeftLane = pririties[i]\n}\n\n}\n\nvar retpayload = { \"count\":\n\n    [{ \"lane\":\"upper\",\n        \"priority\":pUpperLane\n                    },\n        { \"lane\":\"right\",\n            \"priority\":pRightLane\n                    },\n        { \"lane\":\"down\",\n            \"priority\":pDownLane\n                    },\n        { \"lane\":\"left\",\n            \"priority\":pLeftLane\n                    }] }\n\n\n\nvar retmsg = { payload: retpayload}\n\nreturn retmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 380,
        "wires": [
            [
                "0f742db5c7002b8a",
                "2b18a1c1da5c5c54",
                "01bc9eca8e6087e5",
                "48031df4383680e5"
            ]
        ]
    },
    {
        "id": "710bcbd52b1cae3f",
        "type": "delay",
        "z": "349fff74cb694245",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 280,
        "y": 720,
        "wires": [
            [
                "9e41b3a756f50cba"
            ]
        ]
    },
    {
        "id": "0f742db5c7002b8a",
        "type": "function",
        "z": "349fff74cb694245",
        "name": "function 10",
        "func": "var retmsg = {payload:msg.payload.count[0].priority  }\nreturn retmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 360,
        "wires": [
            [
                "bcf3322ae3197fd6"
            ]
        ]
    },
    {
        "id": "bcf3322ae3197fd6",
        "type": "ui_text",
        "z": "349fff74cb694245",
        "group": "5ee474f668435ead",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Upper Lane",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1270,
        "y": 360,
        "wires": []
    },
    {
        "id": "799d5428a7b0677d",
        "type": "ui_text",
        "z": "349fff74cb694245",
        "group": "5ee474f668435ead",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Right Lane",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1270,
        "y": 400,
        "wires": []
    },
    {
        "id": "2f2d50a365c5d159",
        "type": "ui_text",
        "z": "349fff74cb694245",
        "group": "5ee474f668435ead",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Down Lane",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1270,
        "y": 440,
        "wires": []
    },
    {
        "id": "c7e262e86583126c",
        "type": "ui_text",
        "z": "349fff74cb694245",
        "group": "5ee474f668435ead",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Left Lane",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 480,
        "wires": []
    },
    {
        "id": "2b18a1c1da5c5c54",
        "type": "function",
        "z": "349fff74cb694245",
        "name": "function 11",
        "func": "\nvar retmsg = { payload: msg.payload.count[1].priority }\nreturn retmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 400,
        "wires": [
            [
                "799d5428a7b0677d"
            ]
        ]
    },
    {
        "id": "01bc9eca8e6087e5",
        "type": "function",
        "z": "349fff74cb694245",
        "name": "function 12",
        "func": "\nvar retmsg = { payload: msg.payload.count[2].priority }\nreturn retmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 440,
        "wires": [
            [
                "2f2d50a365c5d159"
            ]
        ]
    },
    {
        "id": "48031df4383680e5",
        "type": "function",
        "z": "349fff74cb694245",
        "name": "function 13",
        "func": "\nvar retmsg = { payload: msg.payload.count[3].priority }\nreturn retmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 480,
        "wires": [
            [
                "c7e262e86583126c"
            ]
        ]
    },
    {
        "id": "e0097b0a5286c662",
        "type": "function",
        "z": "349fff74cb694245",
        "name": "hold on stop",
        "func": "\nvar retmsg = { payload: \"paused\" }\nreturn retmsg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 660,
        "wires": [
            [
                "8cfc5c3293ede06c"
            ]
        ]
    },
    {
        "id": "44479f2cd2d9cb9d",
        "type": "delay",
        "z": "349fff74cb694245",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 220,
        "y": 380,
        "wires": [
            [
                "8cfc5c3293ede06c"
            ]
        ]
    },
    {
        "id": "5db6d512aabeced1",
        "type": "delay",
        "z": "349fff74cb694245",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1020,
        "y": 560,
        "wires": [
            [
                "e009cf65296d1b6c"
            ]
        ]
    },
    {
        "id": "33e95622460456af",
        "type": "delay",
        "z": "349fff74cb694245",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 320,
        "wires": [
            [
                "0f63a063e0131a61"
            ]
        ]
    },
    {
        "id": "0f63a063e0131a61",
        "type": "function",
        "z": "349fff74cb694245",
        "name": "function 14",
        "func": "\nreturn  {payload: \"Ready\"};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 320,
        "wires": [
            [
                "e009cf65296d1b6c"
            ]
        ]
    },
    {
        "id": "d846638d29beb2f3",
        "type": "ui_group",
        "name": "Controls",
        "tab": "8396a044b1c82174",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7721da09e49e1c4a",
        "type": "ui_group",
        "name": "Traffic Count",
        "tab": "8396a044b1c82174",
        "order": 2,
        "disp": true,
        "width": "16",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ee474f668435ead",
        "type": "ui_group",
        "name": "Priorities",
        "tab": "8396a044b1c82174",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8396a044b1c82174",
        "type": "ui_tab",
        "name": "Monitoring Tab",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]